<!-- header.html -->
<header class="header">
	<div class="container">
		<a href="" class="header-logo-link">
			<img src="img/logo.svg" alt="" class="header-img">
			Productive
		</a>
		<ul class="header-menu">
			<li class="header-list"><a href="#" class="header-link">Home</a></li>
			<li class="header-list"><a href="#" class="header-link">The process</a></li>
			<li class="header-list"><a href="#" class="header-link">Pricing</a></li>
			<li class="header-list"><a href="#" class="header-link">Products</a></li>
			<li class="header-list"><a href="#" class="header-link">About</a></li>
			<li class="header-list"><a href="#" class="header-link">Contact us</a></li>
		</ul>
		<div class="header-btn-menu">
			<span class="header-line header-line_top"></span>
			<span class="header-line header-line_center"></span>
			<span class="header-line header-line_bottom"></span>
		</div>
	</div>
</header>