<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>phone</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<meta name="viewport" content="width=480, maximum-scale=1.0"/>-->
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>

<body>
	<div class="about">
		<section class="home-first">
			<div class="home-bg">
				@import "header.html"
				<div class="home-first-container">
					<div class="home-first-left">
						<h1 class="home-first-title">About Us</h1>
						<p class="home-first-text">Productive manages the technical<br>
							details of your startup needs from <br>
							end-to-end.</p>
					</div>
					<img src="img/about.svg" alt="" class="home-first-img">
				</div>
			</div>
		</section>
		<section class="about-second">
			<div class="container">
				<h2 class="about-second-title">Crafting the idea</h2>
				<p class="about-second-text">Get all the benefits of an in-wall or in-ceiling speaker system without any of the hassle. Just replace a few lights around your house, and start streaming crisp, clear audio, everywhere.
				</p>
			</div>
		</section>
		@import "footer.html"
	</div>


	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>


</body>
</html>
