<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>phone</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<meta name="viewport" content="width=480, maximum-scale=1.0"/>-->
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>

<body>
	<div class="product">
		<section class="home-first">
			<div class="home-bg">
				@import "header.html"
				<div class="home-first-container">
					<div class="home-first-left">
						<h1 class="home-first-title">Make Products Happen
						</h1>
						<p class="home-first-text">Productive manages the technical &<br>
							creative details of your startup needs<br>
							from end-to-end.<br>
							We specialize in creating beautiful,<br>
							high-quality technology products.</p>
					</div>
					<img src="img/man-fly.svg" alt="" class="home-first-img home-first-img-two">
				</div>
			</div>
		</section>
		<section class="product-second">
			<div class="container">
				<div class="product-second-title product-second-title-first">Get a Tech & Creative Team for<br>Your Startup</div>
				<p class="product-second-text product-second-text-first">By understanding your vision and strategic goals.
					Our design team will manage your product in a way we would be able to achieve the most accurate results with our unique shine .  </p>
			</div>
			<img src="img/Group2.png" alt="" class="product-second-img-bg">
			<div class="container product-container">
				<div class="product-second-flex">
					<img src="img/layers1.svg" alt="" class="product-second-img">
					<div class="product-second-block">
						<h2 class="product-second-title">Software development</h2>
						<p class="product-second-text">
							by working with a variety of section
							relevant for a digital environment
							we have came to our unique way that
							allow us
							to give our clients a solution for each
							section in the complex digital world.
						</p>
					</div>
				</div>
				<div class="product-second-flex">
					<div class="product-second-block">
						<h2 class="product-second-title">Design studio</h2>
						<p class="product-second-text">
							Get all the benefits of an <span class="product-second-nowrap">in-wall</span> or
							<span class="product-second-nowrap">in-ceiling</span> speaker system without any <br>
							of the hassle. Just replace a few lights<br>
							around your house, and start streaming crisp, clear audio, everywhere.
						</p>
					</div>
					<img src="img/layers2.svg" alt="" class="product-second-img">
				</div>
				<div class="product-second-flex">
					<img src="img/layers3.svg" alt="" class="product-second-img">
					<div class="product-second-block">
						<h2 class="product-second-title">CRM & System managment</h2>
						<p class="product-second-text">
							It is all about Fast & Easy. <br>
							we would be able to suit you a system
							that manage all the data of your clientele<br>
							with easy approach and high efficient
							tools that will allow you to analysis your
							data at any given time there is .
						</p>
					</div>
				</div>
				<div class="product-second-flex">
					<div class="product-second-block">
						<h2 class="product-second-title">Digital marketing</h2>
						<p class="product-second-text">
							Our main goal in digital marketing is
							building a deep cominacition system.<br>
							so we would be able to optimize your
							system, to increase your active users
							and session length .
						</p>
					</div>
					<img src="img/layers4.svg" alt="" class="product-second-img">
				</div>
				<div class="product-second-flex">
					<img src="img/layers5.svg" alt="" class="product-second-img">
					<div class="product-second-block">
						<h2 class="product-second-title">Out Sourcing</h2>
						<p class="product-second-text">
							If you couldn't find the right firm on<br>
							time ,or you understand you don't <br>
							really need an inhouse team.<br>
							you would be able to use one of our
							teams to work on your product.<br>
							our service can be per product.<br>
							or use  our team by the time use<br>
							your product need.
						</p>
					</div>
				</div>
			</div>
		</section>
		<section class="product-third">
			<div class="container">
				<div class="product-third-left">
					Build your own future. <br>
					Text text text.
				</div>
				<div class="product-third-right">
					<a href="#" class="product-third-btn btn-contact">Contact Us</a>
					<a href="#" class="product-third-btn btn-new">Newsletter</a>
				</div>
			</div>
		</section>
	</div>
	@import "footer.html"

	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>


</body>
</html>
